body {
    margin: 0;
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    padding:0;
}


.navbar {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    width:25%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: white;
    font-weight: bold;
    color:black;
    
  }

  li a:active {
      background-color: #111;
  }

  #headers-div {
      margin-left:420px;
      margin-top: 220px;
      position: absolute;
    
  }

  #headers-div h1, h2 {
color: white;
font-size: 60px;
font-weight: bold;
text-align: center;
  }

  #about-me-div {
      border: white solid 1px;
      color:white;
      text-shadow:2px 2px black;
      position:absolute;
      margin-left:585px;
      width:30%;
      margin-top:400px;
  }

  #about-me-div h1, p {
      text-align:center;
  }

  #about-me-div p {
      font-size: 20px;
  }

  #about-me-div i {
      color:orange;
  }

  #image-about-me {
      height:200px;
      width:200px;
      position: absolute;
     margin-left: 730px;
     margin-top:100px;
  }

  #image-about-me img {
      border-radius: 5%;
      display: block;
  }

  #footer {
      position: fixed;
      height:80px;
      width: 100%;;
      text-align: center;
      background-color: black;
      color: white;
      bottom:0;
  }

  #footer img {
      height:30px;
      width: 30px;
      border-radius:5%;
      padding-left: 10px;
  }

  #interest-icons-gallery {
      margin:auto;
      margin-top:550px;
      margin-left:550px;
      display:grid;
     height:600px;
     width:400px;
    
    grid-template-columns: 200px 200px 200px;   
    grid-template-rows: 200px 200px 200px; 
        column-gap: 0px;
        row-gap: 0px;
      position: absolute;
  }

.img-gallery {
    height:200px;
    width:200px;
    padding:0;
    margin:0;
}

#interests-header {
    position:absolute;
    color:white;
    text-align: center;
    margin:auto;
    border:solid white 1px;
    margin-left: 700px;
    margin-top:100px;
    width:300px;
}

#interests h1, p {
    text-align:center;
    font-size:20px;
}

#contact-div {
    position: absolute;
    height:200px;
    width: 50%;
    text-align: center;
    color: white;
    margin-top:300px;
    margin-left: 430px;
}

#contact-div img  {
    height:150px;
    width: 150px;
    border-radius:5%;
    padding-left: 50px;
    text-align: center;
}



#contact-div img:hover {
    transform: scale(1.2);
}

 
 /* #image-div {
      height:500px;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
  }

  #main-title {
      margin-top: 0;
  }

  #main-image {
      border-radius: 5%;;
  }*/

