body {
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    width:25%;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: white;
    font-weight: bold;
    color:black;
    
  }

  li a:active {
      background-color: #111;
  }

  #headers-div {
      margin-left:350px;
      margin-top: 220px;
      position: absolute;
    
  }

  #headers-div h1, h2 {
color: white;
font-size: 60px;
font-weight: bold;
text-align: center;
  }

  #about-me-div {
      border: white solid 1px;
      color:white;
      text-shadow:2px 2px black;
      position:absolute;
      margin-left:585px;
      width:30%;
      margin-top:250px
  }

  #about-me-div h1, p {
      text-align:center;
  }

  #about-me-div p {
      font-size: 20px;
  }

  #about-me-div i {
      color:orange;
  }
 
 /* #image-div {
      height:500px;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
  }

  #main-title {
      margin-top: 0;
  }

  #main-image {
      border-radius: 5%;;
  }*/

